body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    background-attachment: fixed;
    background-size: cover;
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #3f3f3f73;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    display: flex;
    padding: 0;
    align-items: center;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
.button {
    display: inline-block;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.button:hover {
    background: #77aaff;
}
.dropdown {
    display: inline-block;
    color: #000000;
    background: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 93%;
}
.dropdown:hover {
    background: #77aaff;
}
form {
    background: #ffffff79;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    margin: 10px;
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 10px; /* Optional: Add rounded corners */
    text-decoration: none;
    color: #333;
    font-size: 24px; /* Adjust the text size */
    background-color: #f0f0f0; /* Optional: Add background color */
    text-align: center;
}
.dashboard a:hover {
    background: #77aaff;
}
.dashboard a i {
    font-size: 80px; /* Adjust the icon size */
    margin-bottom: 10px; /* Space between icon and text */
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 70px;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(19, 39, 48, 0.918);
}
table, th, td {
    border: 1px solid #000000;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f200;
    color: #ffffff;
}
tr:nth-child(even) {
    background-color: #f9f9f900;
}
tr:hover {
    background-color: #90b7ff;
}
img {
    display: block;
    margin: 0 auto;
}
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input#password {
    width: 100% !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
}
.inline {
    display: inline-block;
    float: none;
    margin: 20px 0px;
}
input, button {
    height: 34px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    background: #333;
    border-radius: 5px;
}

.pagination a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #333;
    margin: 0 5px;
}

.pagination a.active {
    background-color: rgb(0, 247, 255);
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.pagination a:hover:not(.active) {
    background-color: skyblue;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    background: #333;
    border-radius: 5px;
}

.pagination a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #333;
    margin: 0 5px;
}

.pagination a.active {
    background-color: rgb(0, 247, 255);
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.pagination a:hover:not(.active) {
    background-color: skyblue;
}

.full-width {
    width: 96.5%;
}
.no-bullets {
    list-style-type: none;
}